h1 {
  text-align: center;
  font-family: JetBrains Mono;
  color: #8E26C0;
  font-size: 46px;
  font-weight: 800;
}
.p1 {
  font-size: 24px;
  background-color: #FFE8E8;
  color: #FF0000;
  width: 320px;
  padding: 18px 32px; 
}
.p2 {
  font-size: 32px;
  border-top: 2px solid lightgreen;
  border-right: 4px solid blue;
  border-bottom: 2px solid #0055FF;
  border-left: 4px solid red;
  padding: 16px 38px;
  color: #85647B;
  width: 50%;
}
.p3 {
  font-size: 28px;
  color: #414651;
  background-color: #FFE8E8;
  padding: 26px 38px;
  width: 50%;
}
.p4 {
  font-size: 24px;
  color: #0064CE;
  border: 2px solid #3538CD;
  width: 50%;
  text-align: right;
  padding: 20px 32px;
}
img {
  width: 320px;
}
.prc {
  color: #FF4405;
  text-decoration: underline;
}